.container {
  max-width: 120rem; //1200px
  margin: 8rem auto; // Centers Container in body
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
  min-height: 50rem;

  @media only screen and (max-width: $breakpoint-largest) {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);

  @media only screen and (max-width: $breakpoint-smallest) {
    flex-wrap: wrap;
    height: 11rem;
    
  }



}
.content {
  display: flex;

  @media only screen and (max-width: $breakpoint-medium) {
    flex-direction: column;
  }
}
.sidebar {
  background-color: var(--color-grey-dark-1);

  // Keeps Width @ 18% -> Flex: Grow Shrink Width
  flex: 0 0 18%;

  // PUSHES LEGAL TEXT TO BOTTOM
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hotel-view {
  background-color: #fff;

  // Element will grow as much as possible
  flex: 1;
}

.detail {
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  font-size: 1.5rem;

  @media only screen and (max-width: $breakpoint-medium) {
    padding: 3rem;
  }
  @media only screen and (max-width: $breakpoint-small) {
    flex-direction: column;
  }
}
.description {
  background-color: #fff;
  flex: 0 0 60%;
  padding: 3rem;
  margin-right: 4.5rem;
  box-shadow: var(--shadow-light);

  @media only screen and (max-width: $breakpoint-medium) {
    margin-right: 3rem;
  }
  @media only screen and (max-width: $breakpoint-small) {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}
.user-review {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
